* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: blue;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
  color: blue;
  font-size: 30px;
  margin-bottom: 30px;
}
p {
  font-size: 20px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
.timer {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.timer__block {
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  background-color: blue;
  border: none;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 2px black;
  font-weight: 900;
}

@media (max-width: 575.98px) {
  .image-box {
    text-align: center;

    margin: 0 auto;
  }
  img {
    width: 300px;
  }
  .text-box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  .timer {
    max-width: 400px;
  }

  .timer__block {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    background-color: blue;
    border: none;
    color: white;
    font-size: 10px;
    box-shadow: 2px 2px 2px black;
    font-weight: 700;
  }
}

@media (max-width: 767.98px) {
  .image-box {
    text-align: center;

    margin: 0 auto;
  }
  img {
    width: 400px;
  }
  .text-box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  .timer {
    max-width: 400px;
  }

  .timer__block {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    box-shadow: 2px 2px 2px black;
    font-weight: 700;
  }
}
